<div class="container">
  <div class="row">
    <div class="col l6 offset-l3 s12">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
        <%# is_male %>
        <div class="row" style="margin:0 0 10px 0;"><%= label_tag "", "성별" %></div>
        <div class="row">
          <div class="col l6">
            <%= f.radio_button :is_male, '1', class: "with-gap" %>
            <%= f.label :is_male_1, "남성" %>
          </div>
          <div class="col l6">
            <%= f.radio_button :is_male, '0', class: "with-gap" %>
            <%= f.label :is_male_0, "여성" %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Update", class: "btn" %>
        </div>
      <% end %>
      <h3>Cancel my account</h3>
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn" %></p>
      <div class="row" style="margin-left:0px">
        <%= link_to "Back", :back, class: "btn" %>
      </div>
    </div>
  </div>
</div>

<style>
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
main {
    flex: 1 0 auto;
  }
</style>