<div class="container">
  <div class="row">
    <div class="col l6 offset-l3 s12">
      <h2>Sign up</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <%# is_male %>
        <div class="row" style="margin:0 0 10px 0;"><%= label_tag "", "성별" %></div>
        <div class="row">
          <div class="col l6">
            <%= f.radio_button :is_male, '1', class: "with-gap" %>
            <%= f.label :is_male_1, "남성" %>
          </div>
          <div class="col l6">
            <%= f.radio_button :is_male, '0', class: "with-gap" %>
            <%= f.label :is_male_0, "여성" %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Sign up", class: :btn, style: "float:right"  %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
      <div style="color:red;font-size:0.8rem">※ "잔방처리반"은 전대/임대 단기 매물 중개자일 뿐이며, 매물 거래의 당사자가 아닙니다. 따라서 직접적인 매물 거래에 관여하지 않으며, 이에 대한 어떠한 보증이나 책임을 부담하지 않습니다. 가입을 진행하면 이에 동의하게 됩니다.</div>
    </div>
  </div>
</div>