<%# local : room %>
<div class="post">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <a href="/rooms/<%= room.id %>">
        <div class="card-image-bg" style="background-image:url('<%= room.representative %>');"></div>
      </a>
    </div>
    <div class="card-content">
      <span class="card-title grey-text text-darken-4">
        <i class="activator icon-add right"></i>
        <a href="/rooms/<%= room.id %>"><span class=""><%= location_str(room) %> <%= is_oneroom_str(room) %></span></a>
      </span>
    </div>
    <div class="card-action">
      <span class="center byline truncate">월 <%= room.monthly_pay%>만원<%= room.admin_pay > 0? " (관리비 #{room.admin_pay}만원)" : " (관리비 포함)" %></span>
      <a class="btn btn-primary waves-effect" href="/rooms/<%= room.id %>">상세정보</a>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">
        <i class="icon-close right"></i>
        <%= simple_format("
          월세 : #{room.monthly_pay} 만원
          관리비 : #{room.admin_pay} 만원
          보험금 : #{room.insurance_pay} 만원
        ")%>
      </span>
      <p><span id="hs_cos_wrapper_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_blog_social_sharing" style="" data-hs-cos-general-type="widget" data-hs-cos-type="blog_social_sharing">
      </span></p>
      <div class="hs-blog-social-share">
      </div>
    </div>
  </div>
</div>