<% if @room.nil? %>
<%= render :partial => "partials/room_not_exist" %>
<% elsif @room.deleted %>
<%= render :partial => "partials/room_deleted" %>
<% else %>
<div class="main-content full">
  <div class="container" style="min-height:768px;">
    <div class="row">
      <div class="col l6 offset-l3 m12">
        <center>
          <h3>매물 수정하기</h3>
        </center>

        <%= form_tag '/rooms/create', id: 'form', multipart: true do %>
          <%# is_oneroom %>
          <div class="row" style="margin:0 0 10px 0;"><%= label_tag "", "전대차 여부" %></div>
          <div class="row">
            <div class="col l6">
              <%= radio_button_tag :is_oneroom, :true, false, class: "with-gap" %>
              <%= label_tag :is_oneroom_true, "원룸/오피스텔" %>
            </div>
            <div class="col l6">
              <%= radio_button_tag :is_oneroom, :false, false, class: "with-gap" %>
              <%= label_tag :is_oneroom_false, "전대차" %>
            </div>
          </div>

          <%# location %>
          <div class="row">
            <div class="input-field col s12">
              <select data-name="location">
                <option value="" disabled selected></option>
                <option value="1">서울대입구</option>
                <option value="2">낙성대</option>
                <option value="3">고시촌(녹두)</option>
              </select>
              <label>위치</label>
            </div>
          </div>

          <%# address + map + lat&lng %>
          <%= hidden_field_tag 'lat'%>
          <%= hidden_field_tag 'lng'%>
          <%= label_tag :address, "주소" %>
          <div id="map_search" class="row input-group">
            <div class="col s9">
              <%= text_field_tag :address, nil, placeholder: "검색버튼을 눌러 확인해주세요" %>
            </div>
            <div class="col s3">
              <center>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" id="btn_address">검색</button>
                </span>
              </center>
            </div>
          </div>
          <div id="map_canvas_id_lnglat" class="row" style="height: 300px;margin:-20px 0 0 0">map loading ...</div>

          <%# insurance_pay %>
          <div class="row">
            <div class="input-field col s12">
              <%= label_tag :insurance_pay, "보증금" %>
              <%= number_field_tag :insurance_pay %>
            </div>
          </div>

          <%# monthly_pay %>
          <div class="row">
            <div class="input-field col s12">
              <%= label_tag :monthly_pay, "월세" %>
              <%= number_field_tag :monthly_pay %>
            </div>
          </div>

          <%# admin_pay %>
          <div class="row">
            <div class="input-field col s12">
              <%= label_tag :admin_pay, "관리비" %>
              <%= number_field_tag :admin_pay %>
            </div>
          </div>

          <%# admin_option %>
          <div class="row">
            <div class="input-field col s12">
              <%= label_tag :admin_options, "관리비 포함항목" %>
              <%= text_area_tag :admin_options, nil, class: "materialize-textarea" %>
            </div>
          </div>

          <%# in&out date %>
          <div class="row">
            <div class="col l6">
              <%= label_tag :in_date, "계약가능 첫날" %>
              <%= date_field_tag :in_date, nil, class: "datepicker" %>
            </div>
            <div class="col l6">
              <%= label_tag :out_date, "계약가능 마지막날" %>
              <%= date_field_tag :out_date, nil, class: "datepicker" %>
            </div>
          </div>

          <%# room_type %>
          <div class="row">
            <div class="input-field col s12">
              <select data-name="room_type">
                <option value="" disabled selected></option>
                <option value="1">원룸</option>
                <option value="2">1.5룸</option>
                <option value="3">투칸</option>
              </select>
              <label>방 구조</label>
            </div>
          </div>

          <%# room_size %>
          <div class="row">
            <div class="input-field col s12">
              <%= label_tag :room_size, "방 평수" %>
              <%= number_field_tag :room_size %>
            </div>
          </div>

          <%# room_floor %>
          <div class="row">
            <div class="input-field col s12">
              <select data-name="room_floor">
                <option value="" disabled selected></option>
                <option value="1">지하1층</option>
                <option value="2">반지하</option>
                <option value="3">1층</option>
                <option value="4">2층</option>
                <option value="5">3층</option>
                <option value="6">4층</option>
                <option value="7">5층</option>
                <option value="8">6층</option>
                <option value="9">7층</option>
                <option value="10">8층</option>
                <option value="11">9층</option>
                <option value="12">10층</option>
                <option value="13">11층</option>
                <option value="14">12층</option>
                <option value="15">13층</option>
                <option value="16">14층</option>
                <option value="17">15층</option>
                <option value="18">16층</option>
                <option value="19">17층</option>
                <option value="20">18층</option>
                <option value="21">19층</option>
                <option value="22">20층</option>
              </select>
              <label>층수</label>
            </div>
          </div>

          <%# elevator %>
          <div class="row" style="margin:0 0 10px 0;"><%= label_tag "", "엘리베이터 여부" %></div>
          <div class="row">
            <div class="col l6">
              <%= radio_button_tag :elevator, :true, false, class: "with-gap" %>
              <%= label_tag :elevator_true, "YES" %>
            </div>
            <div class="col l6">
              <%= radio_button_tag :elevator, :false, false, class: "with-gap" %>
              <%= label_tag :elevator_false, "NO" %>
            </div>
          </div>

          <%# parking %>
          <div class="row" style="margin:0 0 10px 0;"><%= label_tag "", "주차공간 여부" %></div>
          <div class="row">
            <div class="col l6">
              <%= radio_button_tag :parking, :true, false, class: "with-gap" %>
              <%= label_tag :parking_true, "YES" %>
            </div>
            <div class="col l6">
              <%= radio_button_tag :parking, :false, false, class: "with-gap" %>
              <%= label_tag :parking_false, "NO" %>
            </div>
          </div>

          <%# options %>
          <div class="row">
            <div class="input-field col s12">
              <%= label_tag :options, "옵션" %>
              <%= text_area_tag :options, nil, class: "materialize-textarea" %>
            </div>
          </div>
          
          <%# descriptions %>
          <div class="row">
            <div class="input-field col s12">
              <%= label_tag :description, "상세설명" %>
              <%= text_area_tag :description, nil, class: "materialize-textarea" %>
            </div>
          </div>

          <%# representative image %>
          <%= label_tag :representative, "대표 이미지" %>
          <div class="file-field input-field" style="margin-top:5px;">
            <div class="btn" style="padding-top:0px;">Image<%= file_field_tag :representative %></div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>

          <%# images (up to 5) %>
          <% (1..5).each do |i| %>
          <%= label_tag "image#{i}", "이미지 #{i}" %>
          <div class="file-field input-field" style="margin-top:5px;">
            <div class="btn" style="padding-top:0px;">Image<%= file_field_tag "image#{i}" %></div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
          <% end %>

          <%= submit_tag '올리기', id: 'form-submit', class: "btn vert-margined-20", style: "width:100%;" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
<script>
  $(document).ready(function() {
    // Geocode Mapper
    var map;
    var marker;
    var geocoder;
  
    var update_field = function(position) {
      $('#lat').val(position.lat());
      $('#lng').val(position.lng());
      console.log("latitude :", $('#lat').val(), "longitude :", $('#lng').val());
    };
  
    var geocode_address = function(address) {
      geocoder.geocode({'address': address}, function(results, status) {
        if (status === google.maps.GeocoderStatus.OK) {
          var location = results[0].geometry.location;
          $('#address').val(results[0].formatted_address);
          console.log(results);
          map.setCenter(location);
          marker.setPosition(location);
          update_field(location);
        } else alert('Geocode was not successful for the following reason: ' + status);
      });
    }

    var map_dom_element = $("#map_canvas_id_lnglat")[0];
    var center = new google.maps.LatLng(37.497921, 127.027636);
    var options = {
      zoom: 15,
      center: center
    };

    map = new google.maps.Map(map_dom_element, options);
    geocoder = new google.maps.Geocoder();
    marker = new google.maps.Marker({
      map: map,
      position: center,
      draggable: true
    });

    update_field(center);

    google.maps.event.addListener(map, "click", function(e) {
      marker.setPosition(e.latLng);
      update_field(e.latLng);
    });

    $("#btn_address").click(function(e) {
      geocode_address($('#address').val());
      return false;
    });
    // Input Control
    var validate_form = function(form) {
      // Form Validation
      return form.validate({
        rules: {
          is_oneroom:    "required",
          location:      { required: true },
          lat:           { required: true },
          lng:           { required: true },
          address:       { required: true },
          insurance_pay: { required: true },
          monthly_pay:   { required: true },
          admin_pay:     { required: true },
          in_date:       { required: true },
          out_date:      { required: true },
          room_type:     { required: true },
          room_size:     { required: true },
          room_floor:    { required: true },
          elevator:      { required: true },
          parking:       { required: true },
        },
        errorElement: 'div',
        errorPlacement: function(error, element) {
          console.log(element);
          var placement = $(element).data('error');
          console.log(placement);
          error.css('color', 'red');
          error.css('font-size', '12px');
          error.css('margin-top', '-20px');
          error.css('margin-bottom', '10px');
          if (placement) {
            $(placement).append(error)
          } else {
            error.insertAfter(element.closest('div.row'));
          }
        }
      });
    }
    $("input").keypress(function(event) {
      if(event.which == 13) {
        if($("#address").is(':focus')) {
          event.preventDefault();
          geocode_address($('#address').val());
        } else {
          if (!validate_form($('#form'))) event.preventDefault();
        }
      } else return;
    });

    $("#form-submit").click(function(e) {
      if (!validate_form($('#form'))) event.preventDefault();
    });

    // MaterializeCSS
    $('select').material_select();
    $('select').each(function(item){
      var name = $(this).data('name');
      var target = $(this).parent().find('input');
      target.attr('name', name);
    });

    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15 // Creates a dropdown of 15 years to control year
    });
  });
</script>
<% end %>