<div style="background-color:#eee">
  <div class="container" style="min-height:768px;padding-bottom:20px;">
    <div class="row">
      <center>
        <%= form_tag '/rooms', id: 'form', method: 'get', multipart: true, class: "row" do %>
        <%# monthly_pay %>
        <div class="input-field col s6 m3">
          <%= number_field_tag :filter_monthly_pay_min, @filter_monthly_pay_min, placeholder: "최저월세" %>
        </div>
        <div class="input-field col s6 m3">
          <%= number_field_tag :filter_monthly_pay_max, @filter_monthly_pay_max, placeholder: "최고월세" %>
        </div>
        <%# in&out date %>
        <div class="input-field col s6 m3">
          <%= date_field_tag :filter_in_date, @filter_in_date.nil?? nil: @filter_in_date.strftime("%d %B, %Y"), placeholder: "들어오는 날짜", class: "datepicker" %>
        </div>
        <div class="input-field col s6 m3">
          <%= date_field_tag :filter_out_date, @filter_out_date.nil?? nil: @filter_out_date.strftime("%d %B, %Y"), placeholder: "나가는 날짜",class: "datepicker" %>
        </div>
        <%# is_oneroom %>
        <div class="input-field col s6 m3">
          <select data-name="filter_is_oneroom">
            <option value="" <%=" selected" if @filter_is_oneroom.nil? %>>전대차 여부</option>
            <option value="1"<%=" selected" if !@filter_is_oneroom.nil? and  @filter_is_oneroom %>>원룸/오피스텔</option>
            <option value="2"<%=" selected" if !@filter_is_oneroom.nil? and !@filter_is_oneroom %>>전대차</option>
          </select>
        </div>
        <%# location %>
        <div class="input-field col s6 m3">
          <select data-name="filter_location">
            <option value="" <%=" selected" if @filter_location.nil? || @filter_location == 0%>>위치</option>
            <option value="1"<%=" selected" if !@filter_location.nil? and @filter_location == 1 %>>서울대입구</option>
            <option value="2"<%=" selected" if !@filter_location.nil? and @filter_location == 2 %>>낙성대</option>
            <option value="3"<%=" selected" if !@filter_location.nil? and @filter_location == 3 %>>고시촌(녹두)</option>
          </select>
        </div>
        <%# is_male %>
        <div class="input-field col s6 m3">
          <select data-name="filter_is_male">
            <option value="" <%=" selected" if @filter_is_male.nil? %>>성별</option>
            <option value="1"<%=" selected" if !@filter_is_male.nil? and  @filter_is_male %>>남성</option>
            <option value="2"<%=" selected" if !@filter_is_male.nil? and !@filter_is_male %>>여성</option>
          </select>
        </div>
        <%# submit %>
        <div class="input-field col s6 m3">
          <%= submit_tag '필터 적용하기', id: 'form-submit', class: "btn", style: "width:100%;height:46px;" %>
        </div>
        <% end %>
      </center>
      <hr>
      <% if @rooms.empty? %>
      <div class="row">
        <center>
          <h3>해당하는 매물이 없습니다</h3>
          <a href="/rooms/new">매물 등록하러 가기</a>
        </center>
      </div>
      <% else %>
      <div class="post-listing">
        <% @rooms.each do |room| %>
          <%= render partial: "partials/room", locals: {room: room} %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('select').material_select();
    $('select').each(function(item){
      var name = $(this).data('name');
      var target = $(this).parent().find('input');
      target.attr('name', name);
    });

    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15 // Creates a dropdown of 15 years to control year
    });
  });
</script>

<style>
  .input-field.col.s6.m3 * {
    margin-bottom:0px;
  }
</style>