<link href="//cdn2.hubspot.net/hubfs/514770/css/strap.css?t=1462536216307" rel="stylesheet">
<div class="main-content full blog blog-new">
  <div class="content">
    <div class="sections">
      <section class="gray-02-bg">
          <div class="container" style="min-height:768px;">
          <div class="row vert-margined-20">
            <center>
              <div class="horiz-padded-2 full left listing-title">
                <h2 class="vert-margined">매물 리스트</h2>
                <!--<p id="target" class="scrollspy">필터를 쒜낏쒜낏</p>-->
              </div>
              <div class="row">
                <%= form_tag '/rooms', id: 'form', method: 'get', multipart: true do %>
                <%# is_oneroom %>
                <div class="input-field col s2">
                  <select data-name="filter_is_oneroom">
                    <option value="" disabled selected>전대차 여부</option>
                    <option value="1">원룸/오피스텔</option>
                    <option value="2">전대차</option>
                  </select>
                </div>
                <%# location %>
                <div class="input-field col s2">
                  <select data-name="filter_location">
                    <option value="" disabled selected>위치</option>
                    <option value="1">서울대입구</option>
                    <option value="2">낙성대</option>
                    <option value="3">고시촌(녹두)</option>
                  </select>
                </div>
                <%# monthly_pay %>
                <div class="input-field col s1">
                  <%= number_field_tag :filter_monthly_pay_min %>
                </div>
                <div class="input-field col s1">
                  <%= number_field_tag :filter_monthly_pay_max %>
                </div>
                <%# in&out date %>
                <div class="input-field col s2">
                  <%= date_field_tag :filter_in_date, nil, class: "datepicker" %>
                </div>
                <div class="input-field col s2">
                  <%= date_field_tag :filter_out_date, nil, class: "datepicker" %>
                </div>
                <div class="col s2">
                  <%= submit_tag '필터 적용', id: 'form-submit', class: "btn vert-margined-20", style: "width:100%;" %>
                </div>
                <% end %>
              </div>
            </center>
            <hr>
            <% if @rooms.empty? %>
            <div class="row">
              <center>
                <h3>해당하는 매물이 없습니다</h3>
                <a href="/rooms/new">매물 등록하러 가기</a>
              </center>
            </div>
            <% else %>
            <div class="post-listing">
              <% @rooms.each do |room| %>
                <%= render partial: "partials/room", locals: {room: room} %>
              <% end %>
            </div>
            <% end %>
            <center><span>pagination placeholder</span></center>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<footer class="strap-footer full left">
  <div class="container text-white">
    <div class="row">
      <div class="full left">
        <div class="col s12 m8">
          <p class="small full source-org copyright">Made by <a href="http://mrl.snu.ac.kr/~pjhjohn">[JoonHo Park]</a><a class="horiz-margined" href="/terms">Terms</a><a class="horiz-margined" href="/privacy">Privacy Policy</a></p>
        </div>
        <div class="col s12 m4 text-right">
          <h3>
            <a class="padded" href="https://github.com/pjhjohn/danbang" target="_blank"><i class="icon-github"></i></a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  $(document).ready(function() {
    $('select').material_select();
    $('select').each(function(item){
      var name = $(this).data('name');
      var target = $(this).parent().find('input');
      target.attr('name', name);
    });

    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15 // Creates a dropdown of 15 years to control year
    });
  });
</script>