<link href="//cdn2.hubspot.net/hubfs/514770/css/strap.css?t=1462536216307" rel="stylesheet">
<div class="main-content full blog blog-new">
  <div class="content">
    <div class="sections">
      <section class="gray-02-bg">
        <div class="container">
          <div class="row vert-margined-20">
            <center>
              <div class="horiz-padded-2 full left listing-title">
                <h2 class="vert-margined">방 리스트</h2>
                <p id="target" class="scrollspy">필터를 쒜낏쒜낏</p>
              </div>
              <div id="filter" class="vert-margined-20">
                <a class="vert-margined btn btn-secondary waves-effect<%= " btn-selected" if @location == "1" %>" data-filter-type="location" data-value="1" href="#">서울대입구</a>
                <a class="vert-margined btn btn-secondary waves-effect<%= " btn-selected" if @location == "2" %>" data-filter-type="location" data-value="2" href="#">낙성대</a>
                <a class="vert-margined btn btn-secondary waves-effect<%= " btn-selected" if @location == "3" %>" data-filter-type="location" data-value="3" href="#">고시촌(녹두)</a>
                <a class="vert-margined btn btn-secondary waves-effect<%= " btn-selected" if @gender == "male" %>" data-filter-type="gender" data-value="male" href="#">남성</a>
                <a class="vert-margined btn btn-secondary waves-effect<%= " btn-selected" if @gender == "female" %>" data-filter-type="gender" data-value="female" href="#">여성</a>
                <a class="vert-margined btn btn-secondary waves-effect<%= " btn-selected" if @is_oneroom == "true" %>" data-filter-type="is_oneroom" data-value="true" href="#">원룸/오피스텔</a>
                <a class="vert-margined btn btn-secondary waves-effect<%= " btn-selected" if @is_oneroom == "false" %>" data-filter-type="is_oneroom" data-value="false" href="#">전대차</a>
              </div>
              <%= form_tag '/rooms', id: "filter-form", method: 'get', multipart: true do %>
                <%= hidden_field_tag :location, nil, id: "filter-form-location" %>
                <%= hidden_field_tag :gender, nil, id: "filter-form-gender" %>
                <%= hidden_field_tag :is_oneroom, nil, id: "filter-form-is_oneroom" %>
              <% end %>
            </center>
            <hr/>
            <% if @rooms.empty? %>
            <div class="row">
              <center>
                <h3>해당하는 매물이 없습니다</h3>
                <a href="/rooms/new">매물 등록하러 가기</a>
              </center>
            </div>
            <% else %>
            <div class="post-listing">
              <% @rooms.each do |room| %>
                <%= render partial: "partials/room", locals: {room: room} %>
              <% end %>
            </div>
            <% end %>
            <center><span>pagination placeholder</span></center>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<footer class="strap-footer full left">
  <div class="container text-white">
    <div class="row">
      <div class="full left">
        <div class="col s12 m8">
          <p class="small full source-org copyright">© 2016 Strap. Made with <i class="icon-favorite"></i> in Cincinnati, OH. <a class="horiz-margined" href="/terms">Terms</a><a class="horiz-margined" href="/privacy">Privacy Policy</a></p>
        </div>
        <div class="col s12 m4 text-right">
          <h3>
            <a class="padded" href="https://github.com/pjhjohn/danbang" target="_blank"><i class="icon-github"></i></a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  $(document).ready(function(){
    // register form from selected
    $('#filter>a.btn-selected').each(function(index, item) {
      $('#filter-form>'+'#filter-form-'+$(item).data('filter-type')).val($(item).data('value'));
    });
    // send form
    $('#filter>a').each(function(index, item) {
      $(item).click(function(event) {
        event.preventDefault();
        console.log('clicked');
        $('#filter-form>'+'#filter-form-'+$(this).data('filter-type')).val($(this).data('value'));
        $('#filter-form').submit();
      });
    })
  });
</script>