<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<div class="main-content full">
  <div class="container" style="min-height:768px;">
    <div class="row">
      <div class="col m6 offset-m3 s12">
        <center>
          <h3>새 방 등록하기</h3>
        </center>

        <%= form_tag '/rooms/create', multipart: true do %>
          <%= label_tag :address %>
          <%= text_field_tag :address %>
          
          <div class="row">
            <div class="input-field col s12">
              <select>
                <option value=""></option>
                <option value="1">서울대입구</option>
                <option value="2">낙성대</option>
                <option value="3">고시촌(녹두)</option>
              </select>
              <label>location</label>
            </div>
          </div>
          
          <div class="row">
            <div class="input-field col s12">
              <select>
                <option value=""></option>
                <option value="1">한칸</option>
                <option value="2">1.5칸</option>
                <option value="3">2칸</option>
              </select>
              <label>type</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <select>
                <option value=""></option>
                <option value="1">B1</option>
                <option value="2">반지하</option>
                <option value="3">1층</option>
                <option value="4">2층</option>
                <option value="5">3층</option>
                <option value="6">4층</option>
              </select>
              <label>story</label>
            </div>
          </div>
          
          <%= label_tag :insurance_pay %>
          <%= number_field_tag :insurance_pay %>
          
          <%= label_tag :monthly_pay %>
          <%= number_field_tag :monthly_pay %>
          
          <%= label_tag :admin_pay %>
          <%= number_field_tag :admin_pay %>
          
          <%= label_tag :size %>
          <%= number_field_tag :size %>
          
          <%= label_tag :in_date %>
          <%= date_field_tag :in_date, nil, class: "datepicker" %>
          
          <%= label_tag :out_date %>
          <%= date_field_tag :out_date, nil, class: "datepicker" %>
          
          <%= label_tag :parking %>
          <div class="switch">
            <label>
              Off
              <%= check_box_tag :parking %>
              <span class="lever"></span>
              On
            </label>
          </div>
          
          <%= label_tag :elevator %>
          <div class="switch">
            <label>
              Off
              <%= check_box_tag :elevator %>
              <span class="lever"></span>
              On
            </label>
          </div>
          
          <%= label_tag :admin_options %>
          <%= text_area_tag :admin_options, nil, class: "materialize-textarea" %>
          
          <%= label_tag :option %>
          <%= text_area_tag :option, nil, class: "materialize-textarea" %>
          
          <%= label_tag :description %>
          <%= text_area_tag :description, nil, class: "materialize-textarea" %>
        
          <%= hidden_field_tag 'lat'%>
          <%= hidden_field_tag 'lng'%>
  
          <%= label_tag :query_id_lnglat, "지도 상 위치표시" %>
          <div id="map_search" class="row input-group">
            <div class="col s10">
              <%= text_field_tag :query_id_lnglat, nil, placeholder: "검색버튼을 눌러 확인해주세요" %>
            </div>
            <div class="s2">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="query_submit_id_lnglat">검색</button>
              </span>
            </div>
            <div id="map_canvas_id_lnglat" class="col s12" style="height: 300px;margin: 0px 11.25px">map loading ...</div>
          </div>
        
          <% (1..5).each do |i| %>
          <%= label_tag "image#{i}", "Image#{i}" %>
          <div class="file-field input-field" style="margin-top:5px;">
            <div class="btn" style="padding-top:0px;">Image<%= file_field_tag "image#{i}" %></div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
          <% end %>
          
          <%= submit_tag '올리기', class: "btn vert-margined-20", style: "width:100%;" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  (function($) {
    var map;
    var marker;
    var geocoder;
  
    var update_field = function(position) {
      $('#lat').val(position.lat());
      $('#lng').val(position.lng());
      console.log("latitude :", $('#lat').val(), "longitude :", $('#lng').val());
    };
  
    function geocodeAddress(address) {
      geocoder.geocode({'address': address}, function(results, status) {
        if (status === google.maps.GeocoderStatus.OK) {
          var location = results[0].geometry.location;
  
          $('#query_id_lnglat').val(results[0].formatted_address);
  
          console.log(results);
  
          map.setCenter(location);
          marker.setPosition(location);
          update_field(location);
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
  
    }
  
    $(document).ready(function() {
      var map_dom_element = $("#map_canvas_id_lnglat")[0];
      var center = new google.maps.LatLng(37.497921, 127.027636);
      var options = {
        zoom: 15,
        center: center
      };
  
      map = new google.maps.Map(map_dom_element, options);
      geocoder = new google.maps.Geocoder();
  
      marker = new google.maps.Marker({
        map: map,
        position: center,
        draggable: true
      });
  
      update_field(center);
  
      google.maps.event.addListener(map, "click", function(e) {
        marker.setPosition(e.latLng);
        update_field(e.latLng);
      });
  
      google.maps.event.addListener(marker, 'drag_end', function(e) {
        // !!!
      });
  
      $("#query_submit_id_lnglat").click(function(e) {
        var q = $('#query_id_lnglat').val();
        geocodeAddress(q);
        return false;
      });
    });
  })(jQuery);
  
  var alerted = false;
  $(document).ready(function(){
    var address = $('#id_address').val();
    $('#map_search').children('input').val(address);
  
    $('#map_search').children('input').click(function(){
      var address = $('#id_address').val();
      $(this).val(address);
      if(!alerted) {
        alert('검색 버튼을 꼭 눌러서 확인해주세요');
        alerted = true;
      }
    });
  
    $('input:checked').parent().css('background-color', '#aaa');
  
    function selectedRadioColor(radioInput){
      $(radioInput).on('change', function() {
        $(radioInput).parent().css('background-color', 'white');
        $(this).parent().css('background-color', '#aaa');
      });
    };
    
    $('select').material_select();
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15 // Creates a dropdown of 15 years to control year
    });
  });
</script>