<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="en">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>잔방처리반</title>
  <%=stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> false %>
  <%=javascript_include_tag 'application', 'data-turbolinks-track'=> false %>
  <!--MaterializeCSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <%=csrf_meta_tags %>
</head>
<!-- HEADER -->
<header id="header" class="headroom hide-header-cta">
  <nav id="mainHeader" class="navbar-fixed" style="padding: 0px 15px;">
    <ul class="left">
      <li><a href="/">잔방처리반</a></li>
    </ul>
    <ul class="right">
      <li><a href="#" class="notice" style="color:orange;"><%= notice %></a></li>
      <li><a href="#" class="alert" style="color:red;"><%= alert %></a></li>
      <% if user_signed_in? %>
        <li><%= link_to('매물 등록', '/rooms/new') %></li>
        <li><%= link_to('나가기', destroy_user_session_path, :method => :delete) %></li>
      <% else %>
        <li><%= link_to('로그인', new_user_session_path) %></li>
        <li><%= link_to('가입하기', new_user_registration_path) %></li>
      <% end %>
    </ul>
  </nav>
</header>

<body class="new-body">
  <%=yield %>
</body>

</html>
